@mixin makeResponsive {
  @media screen and (max-width: $mediaMaxWidth) {
    width: 100%;
  }
}

@mixin mediaWidth($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin progressBarStyle($timeTop, $timeMargin, $height) {
  .start-time, .end-time {
    position: absolute;
    top: $timeTop;
    pointer-events: none;
  }

  .start-time {
    left: $timeMargin;
  }

  .end-time {
    right: $timeMargin;
  }

  .player-progress {
    position: relative;
    height: $height;
  }

  .current-progress {
    width: 100%;
    height: 100%;
    background: $progressBarProgressColor;
    display: block;
    position: relative;
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .full-progress {
    width: 100%;
    height: 100%;
    background: $progressBarColor;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
