$containerColor: rgb(48, 56, 65);
$progressBarColor: #3a4750;
$mainTextColor: #eeeeee;
$secondTextColor: #808080;
$progressBarProgressColor: #d72323;
$progressBarThumbColor: #d72323;
$scrollBarColor: #828282;
$borderColor: rgba(134, 83, 99, 0.5);
$mediaMaxWidth: 1440px;
$searchBarColor: rgba(73, 108, 175, 0.8);
$searchBarPlaceholderColor: rgb(172, 171, 171);
$searchMenuColor: rgba(73, 108, 175, 0.7);