$containerColor: rgb(48, 56, 65);
$progressBarColor: #3a4750;
$mainTextColor: #eeeeee;
$secondTextColor: #808080;
$progressBarProgressColor: #d72323;
$progressBarThumbColor: #d72323;
$playerBarColor: rgba(88, 82, 75, 0.4);
$scrollBarColor: #828282;
$borderColor: rgba(134, 83, 99, 0.5);
$mediaMaxWidth: 1440px;
$mediaMobileWidth: 768px;
$mediaTabletWidth: 1024px;
$searchBarColor: rgba(100, 55, 55, 0.9);
$searchBarPlaceholderColor: rgb(172, 171, 171);
$searchMenuColor: rgba(100, 55, 55, 0.8);