.dialog {
    background:#424242;
    color: whitesmoke;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;

    &-title {
        font-size: 18px;
        font-weight: 600;
        padding: 8px 0;
        margin-bottom: 5px;
    }

    &-controls {
        display: flex;
        padding-top: 5px;
    }
}