.search-bar {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    font-weight: 500;

    .bar {
        background: rgba(0, 0, 0, 0.7);
        border: none;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        padding: 10px;
        color: white;

        &:hover, &:focus {
            outline: none;
        }

        &::placeholder {
            font-weight: 600;
        }
    }

    .fa-search {
        font-size: 20px;
        border-radius: 4px;
        position: absolute;
        right: 8px;
    }

    .fa-times {
        position: absolute;
        right: 40px;
        font-size: 20px;
    }
}

.search-menu {
    position: absolute;
    top: 38px;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
    left: 0px;
    width: 100%;
}

.search-item {
    display: flex;
    padding: 10px 0px;
    cursor: pointer;

    .author {
        font-size: 14px;
        color: grey;
    }

    img { 
        width: 40px;
        padding: 0 10px;
        height: 40px;
    }
    
    .track-info {
        display: flex;
        flex-direction: column;
    }
}