.editable {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    position: relative;
    textarea {
        background: rgba(0, 0, 0, 0.8);
        color: inherit;
        font: inherit;
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        box-sizing: border-box;
        width: 100%;
    }

    span {
        position: absolute;
        visibility: hidden;
        width: 100%;
    }
}