$containerColor: rgb(48, 56, 65);
$progressBarColor: #3a4750;
$mainTextColor: #eeeeee;
$secondTextColor: #808080;
$progressBarProgressColor: #d72323;
$progressBarThumbColor: #d72323;
$mediaMaxWidth: 1024px;

@mixin makeResponsive {
    @media screen and (max-width: $mediaMaxWidth) {
        width: 100%;
    }
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./fonts/Montserrat-Light.ttf) format(ttf)
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    font-family: "Montserrat", sans-serif;
}

#root {
    background: $containerColor;
    color: $mainTextColor;
}

header {
    height: 80px;
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;

    @include makeResponsive;

    .logo-image {
        width: 30px;
        padding: 0 10px;
    }

    .logo {
        display: flex;
    }

    .fa-user {
        padding: 0 40px;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 600px;
    flex-wrap: wrap;

    @include makeResponsive;
}

input[type="range"].slider {
    -webkit-appearance: none;
    width: 100px;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: #484d4d;
        border-radius: 0px;
        border: 0px solid #010101;
    }

    &::-webkit-slider-thumb {
        height: 12px;
        width: 18px;
        border-radius: 0px;
        background: $progressBarThumbColor;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -0.7px;
    }
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;

    .player {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 5px;
        width: 100%;
    }

    .poster {
        width: 100px;
        height: 100px;
        padding: 0 20px;
    }

    .control-block {
        display: flex;
        padding: 20px 0;
    }

    .play-controls {
        display: flex;
    }

    i {
        padding: 5px;
        cursor: pointer;
    }

    .full-progress {
        width: 100%;
        height: 100%;
        background: $progressBarColor;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .start-time {
        position: absolute;
        top: 20px;
        left: 0;
    }

    .end-time {
        position: absolute;
        right: 0;
        top: 20px;
    }

    .player-progress {
        position: relative;
        width: 90%;
        height: 15px;
        margin: 10px 20px;
    }

    .current-progress {
        width: 100%;
        height: 100%;
        background: $progressBarProgressColor;
        display: block;
        position: relative;
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .volume-control {
        display: flex;
        align-items: center;
        .fa-volume-up {
            color: $mainTextColor;
            padding: 2px 7px;
        }
    }
}

.visualizer {
    height: 250px;
    width: 400px;

    @include makeResponsive;
}

.playlist {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    min-height: 450px;
    min-width: 330px;
    margin: 0 5px;

    @include makeResponsive;

    .poster {
        width: 60px;
    }

    .container {
        padding: 10px;
    }

    .track {
        display: flex;
        padding: 8px;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    .playing {
        background: rgba(0, 0, 0, 0.1);
    }

    .track-info {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .author {
            color: $secondTextColor;
        }
    }
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    .modal-content {
        padding-top: 200px;
        width: 200px;
    }
}