$containerColor: rgb(48, 56, 65);
$progressBarColor: #3a4750;
$mainTextColor: #eeeeee;
$secondTextColor: #808080;
$progressBarProgressColor: #d72323;
$progressBarThumbColor: #d72323;
$borderColor: rgba(134, 83, 99, 0.5);
$mediaMaxWidth: 1360px;

@mixin makeResponsive {
    @media screen and (max-width: $mediaMaxWidth) {
        width: 100%;
    }
}

@mixin progressBarStyle($timeTop, $timeMargin, $height) {
    .start-time {
        position: absolute;
        top: $timeTop;
        left: $timeMargin;
    }

    .end-time {
        position: absolute;
        top: $timeTop;
        right: $timeMargin;
    }

    .player-progress {
        position: relative;
        height: $height;
    }

    .current-progress {
        width: 100%;
        height: 100%;
        background: $progressBarProgressColor;
        display: block;
        position: relative;
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .full-progress {
        width: 100%;
        height: 100%;
        background: $progressBarColor;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

/* montserrat-regular - cyrillic */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("./fonts/montserrat-v14-cyrillic-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/montserrat-v14-cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - cyrillic */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat Medium"), local("Montserrat-Medium"),
        url("./fonts/montserrat-v14-cyrillic-500.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/montserrat-v14-cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - cyrillic */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
        url("./fonts/montserrat-v14-cyrillic-600.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("./fonts/montserrat-v14-cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    font-family: "Montserrat", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
}

header, footer, .content {
    flex-shrink: 0;
}

button,
input,
textarea {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

input[type="file"] {
    display: none;
}

#root {
    background: $containerColor;
    color: $mainTextColor;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
}

header {
    height: 80px;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include makeResponsive;

    .logo-image {
        width: 40px;
        padding: 0 10px;
    }

    .logo {
        display: flex;
        padding-right: 20px;
        user-select: none;
        cursor: pointer;
    }

    .user {
        position: relative;
        margin-left: auto;
        padding: 0 30px;
        cursor: pointer;
        user-select: none;
    }

    .user-menu {
        background: #0000004d;
        position: absolute;
        right: 20px;
        width: 100%;
        list-style-image: none;
        list-style: none;
        padding: 5px 15px;

        li {
            line-height: 35px;
            cursor: pointer;
        }

        .logout::before {
            background: url("./images/logout.svg");
            content: "";   
            display: inline-block;
            background-size: 20px;   
            height: 20px;   
            width: 20px; 
            vertical-align: middle;
            margin-right: 8px;
        }
    }

    .fa-user {
        padding: 0 10px;
        display: inline;
    }
}

footer {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.content {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 55vw;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-grow: 1;
    @include makeResponsive();
}

input[type="range"].slider {
    -webkit-appearance: none;
    width: 100px;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: #484d4d;
        border-radius: 0px;
        border: 0px solid #010101;
    }

    &::-webkit-slider-thumb {
        height: 12px;
        width: 18px;
        border-radius: 0px;
        background: $progressBarThumbColor;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -0.7px;
    }
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    flex: 1.5;
    flex-basis: 400px;
    margin: 0 10px;

    .player {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .poster {
        width: 100px;
        height: 100px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin: 0 20px;
        opacity: 0.7;
        transition: opacity 300ms;
         
        &:hover {
            opacity: 0.9;
        }
    }

    .control-block {
        display: flex;
        padding: 20px 0;
        position: relative;
    }

    .play-controls {
        display: flex;
    }

    i {
        padding: 5px;
        cursor: pointer;
    }

    .player-progress {
        position: relative;
        width: 90%;
        height: 15px;
        margin: 10px 20px;
    }

    @include progressBarStyle(20px, 2px, 15px);

    .volume-control {
        display: flex;
        align-items: center;
        .fa-volume-up {
            color: $mainTextColor;
            padding: 2px 7px;
        }
    }
}

.visualizer {
    height: 250px;
    width: 100%;

    @include makeResponsive;
}

.tracks {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    min-height: 450px;
    flex-grow: 1;
    flex-basis: 250px;
    margin: 0px 5px 20px 5px;

    @include makeResponsive;

    .poster {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
    }

    .container {
        padding: 10px;
    }

    .track {
        display: flex;
        padding: 8px;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    .playing {
        background: rgba(0, 0, 0, 0.1);
    }

    .track-info {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .author {
            color: $secondTextColor;
        }
    }

    &-header {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $secondTextColor;

        .name {
            font-size: 16px;
            font-weight: 500;
            padding: 0 10px;
        }

        .playlist-icon {
            width: 30px;
            height: 30px;
        }

        .fa-times {
            padding: 0 10px;
            cursor: pointer;
        }
    }

    &-playlist {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .controls {
        display: flex;
        align-items: center;
        margin-left: auto;

        .fa-edit {
            cursor: pointer;
        }
    }
}

.playlists {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    min-height: 450px;
    margin: 0px 5px 15px 5px;
    padding: 5px 0px;
    flex-grow: 1;
    flex-basis: 250px;

    @include makeResponsive();
}

.playlist {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;

    &-folder {
        padding: 0 10px;
        width: 30px;
        height: 30px;
    }

    &-controls {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding: 5px;
    }

    .fa-edit {
        padding-right: 10px;
    }

    .container {
        display: flex;
        align-items: center;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}

.sign-in, .sign-up {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .container {
        padding: 20px 40px;
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
        a {
            color: grey;
            text-decoration: none;
        }
    }
}

.hidden {
    display: none;
}

.add-item {
    padding: 15px 10px;
    cursor: pointer;

    &-text {
        font-weight: 500;
    }

    .fa-plus {
        padding: 0 10px;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}

.add-track-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .upload-track {
        border: 1px solid $mainTextColor;
        padding: 5px 10px;
        margin-top: 20px;
    }
}

.track-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50vw;
    background: rgba(0, 0, 0, 0.3);
    @include makeResponsive();

    .track-info {
        display: flex;
        padding: 30px 20px;
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }

    .track-header {
        font-size: 20px;
        font-weight: 500;
    }

    .title {
        font-size: 30px;
        font-weight: 600px;
        margin-bottom: 10px;
    }

    .author {
        color: grey;
        font-size: 25px;
        font-weight: 500;
    }

    .poster {
        margin: 0 20px;
        position: relative;

        img {
            top: 0;
            right: 0;
            width: 200px;
            height: auto;

            &.semi-visible {
                opacity: 0.5;
            }
            @media screen and (max-width: 600px) {
                width: 100px;
            }
        }

        .upload-poster {
            z-index: 998;
            background: transparent;
            position: absolute;
            width: 30px;
            padding: 10px;
        }

        .actions {
            display: flex;
            justify-content: center;
            font-size: 20px;
            padding-top: 15px;
            .fa {
                padding: 0 5px;
            }
        }
    }

    .genres {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .genre {
        padding: 5px 10px;
        border-radius: 20px;
        margin-right: 10px;
        font-weight: 500;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 2px inset cornflowerblue;
        font-size: 16px;

        .fa-plus {
            padding: 0 5px;
        }
    }

    .lyrics {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        textarea {
            background: rgba(0, 0, 0, 0.3);
            border: none;
            color: $mainTextColor;
            font-weight: 500;
            font-size: 14px;
            padding: 10px;
            width: 70%;
            height: 150px;
            outline: none;
        }
    }

    .controls {
        display: flex;
        justify-content: center;
        padding: 30px 0;
    }
}

.player-bar {
    display: flex;
    flex-direction: column;
    background: rgba($color: $progressBarColor, $alpha: 0.8);
    position: sticky;
    margin: 0 auto;
    width: 70%;
    bottom: 0px;
    left: 0px;

    .player-controls {
        display: flex;
        align-items: center;
        .fa {
            padding: 0 5px;
        }
    }

    .track-info {
        display: flex;
        padding: 15px 0;
    }

    .title {
        font-weight: 500;
    }

    .author {
        color: grey;
    }

    @include progressBarStyle(5px, 5px, 25px);
    @include makeResponsive();

    img {
        width: 50px;
        padding: 0 10px;
    }
}


.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 300px;
    }
}